name: publish

on:
  push:
    branches: 
    - staging
    - main

env:
  appname: coming-soon-demo

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
    - uses: actions/checkout@v2

    - name: 'version'
      id: version
      shell: bash
      run: |
        branchName="${GITHUB_REF#refs/heads/}"
        echo "$branchName"
        echo "::set-output name=BRANCH_NAME::$branchName"
          
